<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exportexcel.export.exportMapper.PmTenantUserMapper">
    <select id="selectTaskList" resultType="java.util.Map">
        SELECT distinct task_time as taskTime,
        obj_name as objName
        FROM misp.pm_tenant_user
        WHERE
        task_time >= #{startTime}
        AND task_time &lt;= #{endTime}
        ORDER BY task_time
    </select>
    <select id="eqId" resultType="java.util.Map">
        SELECT EQUIPMENT_ID AS eqId
        FROM pm_equipment_info
        WHERE EQUIPMENT_NAME NOT LIKE 'MB%'
        AND EQUIPMENT_NAME NOT LIKE 'SB%'
        AND IS_DEL='N'
    </select>
    <select id="list" resultType="java.util.Map">
        SELECT
        tc.equipment_id as equimentId,
        pi.equipment_name as eqName,
        date_format(from_unixtime(tc.create_time / 1000), '%Y-%m-%d %H:%i:%s') AS timestamp,
        val as dotSum
        from mp_realtime_consum_data tc
        left join pm_equipment_info pi on tc.equipment_id = pi.equipment_id
        where tc.equipment_id in
        <foreach collection="equipmentId" index="index" item="eqId" open="(" separator="," close=")">
            #{eqId}
        </foreach>
        and tc.data_type=1
        and  create_time &gt;= #{startTime}
        and create_time &lt;= #{endTime}
    </select>
</mapper>