<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exportexcel.export.exportMapper.PmTenantUserMapper">
    <select id="selectTaskList" resultType="java.util.Map">
        SELECT distinct task_time as taskTime,
        obj_name as objName
        FROM misp.pm_tenant_user
        WHERE
        task_time >= #{startTime}
        AND task_time &lt;= #{endTime}
        ORDER BY task_time
    </select>
    <select id="eqId" resultType="java.util.Map">
        SELECT EQUIPMENT_ID AS eqId,
        EQUIPMENT_NAME AS eqName
        FROM pm_equipment_info
        WHERE IS_DEL='N'
    </select>
    <select id="list" resultType="java.util.Map">
        SELECT
        tc.equipment_id as equimentId,
        pi.equipment_name as eqName,
        date_format(from_unixtime(tc.create_time / 1000), '%Y-%m-%d %H:%i:%s') AS timestamp,
        val as dotSum
        from mp_realtime_consum_data tc
        left join pm_equipment_info pi on tc.equipment_id = pi.equipment_id
        where tc.equipment_id = #{eqId}
        and tc.data_type=1
        and  create_time &gt;= #{startTime}
        and create_time &lt;= #{endTime}
    </select>
    <update id="updataValue" parameterType="java.util.Map">
        update pm_consumables_equipment
        <set>
            user_low_threshold = #{firstThreshold,jdbcType=BIGINT},
            user_high_threshold = #{secondThreshold,jdbcType=BIGINT},
            time_alar_threshold = #{finalThreshold,jdbcType=BIGINT}
        </set>
        where equipment_id = #{eqId,jdbcType=BIGINT}
        and cons_id = #{consId,jdbcType=BIGINT}
    </update>
    <select id="selectTuisong1" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME as eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.user_low_threshold as userLow,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count > c.user_low_threshold
       and (a.chang_coping_count - c.user_low_threshold)&lt;50
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
    <select id="selectTuisong2" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME as eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.user_high_threshold as userHigh,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count > c.user_high_threshold
       and (a.chang_coping_count - c.user_high_threshold)&lt;50
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
    <select id="selectTuisong3" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME as eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.time_alar_threshold as timeAlar,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count > c.time_alar_threshold
       and (a.chang_coping_count - c.time_alar_threshold)&lt;50
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
    <select id="selectNoTuisongCop" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME as eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.user_low_threshold as userLow,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count &lt;c.user_low_threshold
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
    <select id="selectTuisongCop1" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME as eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.user_low_threshold as userLow,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count >c.user_low_threshold
       and (a.chang_coping_count-c.user_low_threshold) >50
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
    <select id="selectTuisongCop2" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME as eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.user_high_threshold as userHigh,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count >c.user_high_threshold
       and (a.chang_coping_count-c.user_low_threshold) >50
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
    <select id="selectTuisongCop3" resultType="java.util.Map" parameterType="java.util.Map">
     select
       a.id as id,
       b.EQUIPMENT_NAME eqName,
       date_format(FROM_UNIXTIME(a.start_time/1000),'%Y-%m-%d %H:%i:%s') as time,
       a.chang_coping_count as changCop,
       c.time_alar_threshold as timeAlar,
	   f.USER_NAME as userName
       from tbl_equipment_consum_cycle a
       left join pm_equipment_info b on a.equipment_id = b.EQUIPMENT_ID
       inner join pm_consumables_equipment c on a.equipment_id = c.equipment_id
       left join mp_technique_levels d on a.station_id = d.TECHNIQUE_ID
       left join mp_tech_user_relation e on e.TECHNIQUE_ID = d.TECHNIQUE_ID
       left join mp_users f on f.USER_ID = e.USER_ID
       where 1=1
       and a.chang_coping_count >c.time_alar_threshold
       and (a.chang_coping_count-c.user_low_threshold) >50
       and a.start_time &gt;= #{startTime}
       and a.start_time &lt;= #{endTime}
       and b.IS_DEL = 'N'
       and c.is_del = 'N'
       and d.IS_DEL = 'N'
       and e.IS_DEL = 'N'
       order by a.start_time
    </select>
</mapper>